<div class="center hero-unit">
  <h1>Welcome!</h1>

  <h2>
    <p>Sign up to</p>
    <p>-create page that will fully describe your preferences (in films)</p>
    <p>-find new films that you will certanly like</p>
    <p>-find people with preference like yours</p>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.jpeg", alt: "Rails"), 'http://rubyonrails.org/' %>