<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span4">
    <h3> Favourite films</h3>
    <% if @films_list==[] %>
      <h5>-No films in the list yet</h5>
    <% else%>
        <ol>
        <% @films_list.each do |film| %>
          <li><%= link_to film.title, film_path(film.id) %></li>
        <%end%>
        </ol>
    <%end%>
  </div>
</div>
<div class="row">
  <div class="span6">
  </div>
  <div class="span6">
  </div>
</div>