<% provide(:title, @film.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @film.title %></h1>
      <h2>Director: <%= @film.director %></h2>
      <h2>Year: <%= @film.year %></h2>
    </section>
  </aside>
  <div class="span6">
    <h2> Test text</h2>
  </div>
</div>

</div>