<% provide(:title, "Recommendation") %>

<div class="span5"></div>
<div class="span2">
  <%= link_to '<button type="button" class="bt seleclarge btn-primary">Show results!</button>'.html_safe, show_results_path %>
</div>
<h2>Here is text that explaining to you stuff</h2>